
.title, .author, .date { text-align: center; }
.eg, code { white-space:pre; background-color:#FFFDDA; border: thin solid #ECECEC; font-family: monospace; }
.undef { color:red; background-color:yellow; }
#end { border-top: thin solid black; margin-top: 30pt; padding-top: 10pt;}
.box { border: thin solid gray; background-color:#ECECEC; padding: 0pt 2pt; }


/*
.title { font: 36pt Arial, serif; margin: 15pt 0pt; }
.sect { font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif; }
.sub  { font: large serif; }
*/
/*
dl.terms dt { font-weight:bold; }
dl.refs { font-size:small;}
dl.refs dd p { margin: 0pt 0pt 10pt 0pt; }
.format, .prose, .style { display:none; }
*/
